<main>
    <div class="container">
        <hr class="between-sections">
        <!--Projects section v.1-->
        <section class="section" id="examples-of-use">

            <!--Section heading-->
            <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our projects</h1>
            <!--Section description-->
            <p class="section-description wow fadeIn" data-wow-delay="0.4s">We have created projects for different targets in the latest technologies</p>

            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-md-12 m-b-r wow fadeInDown">
                    <!--Card-->
                    <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(2).jpg')">

                        <!--Content-->
                        <div class="white-text text-xs-center">
                            <div class="card-block">
                                <h5 class="red-text"><i class="fa fa-youtube"></i> Entertainment</h5>
                                <h3>Playtube</h3>
                                <p>This application allows the users to view youtube videos without the interruption of ads and also users can create their playlists.</p>
                                <a class="btn btn-lg btn-white-outline"  href="#/playtube"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--/First column-->
                <!--Second column-->
                <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.2s">
                    <!--Card-->
                    <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(7).jpg')">

                        <!--Content-->
                        <div class="white-text text-xs-center">
                            <div class="card-block">
                                <h5 class="teal-text"><i class="fa fa-map"></i> Maps</h5>
                                <h3>Trip Planner</h3>
                                <p>Users can search for directions and plan their trips.</p>
                                <a class="btn btn-lg btn-white-outline" href="#/map"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--/Second column-->
                <!--Third column-->
                <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.4s">
                    <!--Card-->
                    <div class="card-overlay" style="background-image: url('http://mdbootstrap.com/images/regular/dark/img%20(8).jpg')">

                        <!--Content-->
                        <div class="white-text text-xs-center">
                            <div class="card-block">
                                <h5 class="cyan-text"><i class="fa fa-desktop"></i> Software</h5>
                                <h3>Meeting Scheduler</h3>
                                <p>Users can set meetings.</p>
                                <a class="btn btn-lg btn-white-outline" href="http://www/cal" target="_blank"><i class="fa fa-clone left"></i> View project</a>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--/Third column-->
            </div>
            <!--/First row-->

        </section>
        <!--/Projects section v.1-->

        <hr class="between-sections">

        <!--Section: Team v.5-->
        <section class="section" id="our-team">

            <!--Section heading-->
            <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Our amazing team</h1>
            <!--Section description-->
            <p class="section-description wow fadeIn" data-wow-delay="0.4s">Our team has positive attitude and once we start a task we never complete it. We love to spend time and joke around.</p>
            <br>

            <div class="row">

                <div class="col-md-4" data-wow-delay="0.4s">
                    <div class="card testimonial-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight avatar">
                            <img src="Content/images/geetha.jpg" class="rounded-circle img-responsive" >
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->
                        <!--Card content-->
                        <div class="card-block text-xs-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Geetha Punugunta</strong></h4>
                            <h5>Senior Developer</h5>

                            <p class="card-text">She spends most of her time at Pinkvilla, surfing sarees and chatting with Jagsss on google hangout. Sometimes she likes to code too.</p>

                            <!--Dribbble-->
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-4" data-wow-delay="0.4s">
                    <div class="card testimonial-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight avatar">
                            <img src="Content/images/umang.jpg" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->
                        <!--Card content-->
                        <div class="card-block text-xs-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Umang Natani</strong></h4>
                            <h5>Senior Manager/Team Lead</h5>

                            <p class="card-text">He is the go to guy for every problem be it social, emotional and software related. He like to run and eat clean.</p>

                            <!--Dribbble-->
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-4" data-wow-delay="0.4s">
                    <div class="card testimonial-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight avatar">
                            <img src="Content/images/sravan.jpg" class="img-fluid">
                            <a href="#!">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->
                        <!--Card content-->
                        <div class="card-block text-xs-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Sravan Kosaraju</strong></h4>
                            <h5>Senior Developer</h5>

                            <p class="card-text">He loves to play cricket. If you need the best deals on any product catch him he will help you and in the meantime here and there he can code too.</p>

                            <!--Dribbble-->
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
            </div>

        </section>
        <!--/Section: Team v.5-->

        <hr class="between-sections">

    </div>
</main>
<!--/Main layout-->

<!--<link href="Content/login.css" rel="stylesheet" />-->











