    <section class="section m-b-4">
        <h1 class="section-heading">Trip Planner</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 description">
                    <h2 class="h2-responsive wow fadeInLeft">Planning for Road Trip?</h2>
                    <hr class="hr-dark wow fadeInLeft" />
                    <p class="wow fadeInLeft">Create you trip route and get set go!</p>
                    <div>
                        <strong>Start: </strong>
                        <div id="locationField">
                            <input id="start" class="autocomplete" placeholder="Enter a city" type="text" />
                        </div>

                        <br />

                        <strong>End: </strong>
                        <div id="locationField">
                            <input id="end" class="autocomplete" placeholder="Enter a city" type="text" />
                        </div>
                        <br />
                        <button class="btn btn-lg btn-primary" ng-click="saveTrip()">Get Directions</button>

                    </div>

                </div>
                <div class="col-md-6">
                    <div id="map" class="z-depth-1-half map-container"></div>

                </div>
                <div class="col-md-3">
                    <div id="right-panel"></div>
                </div>
            </div>
        </div>
    </section>
