html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/
        
/*.navbar {
    background-color: transparent;
}
        
.top-nav-collapse {
    background-color: #2E2E2E;
}*/
        
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}
/*Intro*/
        
.view {
    background: url("http://mdbootstrap.com/images/regular/people/img%20(58).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
        
@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}
        

        
@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
    #app-mockup {
        max-height: 400px;
    }
}

.flex-center2{
  display: normal;
  justify-content: center;
  align-items: center;
  height: 100%;
  }


.login-block {
    width: 400px;
    padding: 20px;
    background: #2E2E2E;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 5px;
    /*border-top: 5px solid #ff656c;*/
    border-top: 5px solid #2E2E2E;
    margin: 0 auto;
    margin-top:300px;
}